body,
html {
  margin: 0;
  padding: 0;
  font-family: "Fix for Mac Chrome 80", system-ui, -apple-system,
    BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header {
  background-color: #3b5998;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px 12%;
}
.logoGroup {
  display: flex;
  align-items: center;
}
.logo {
  font-size: 32px;
  font-weight: bold;
  color: white;
}
.register-button {
  background-color: #42b72a;
  padding: 3px 12px;
  margin-left: 6px;
  border-radius: 2px;
}
.arrow {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
}
main {
  background-color: #e9ebee;
  padding: 15px 12% 60px;
}
.mainUl {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  min-width: 600px;
}
.mainUl li {
  width: 49%;
  background-color: white;
  text-align: center;
  padding: 0 18px 30px;
}
img {
  width: 50%;
}
.mainUl figcaption {
  font-weight: bold;
}
.mainUl p {
  opacity: 0.6;
}
.mainUl button {
  margin-top: 22%;
}
@media screen and (max-width: 1080px) {
  p {
    font-size: 14px;
  }
}
